:root {
  --card-height: 70vh;
  --card-width: calc(var(--card-height) / 1.25);
}
.card-general{ 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  grid-auto-rows: minmax(100px, auto);
}
.card {
  top: 120px;
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 5px;
  position: relative;
  border-radius: 10px;
}

.card::before {
  content: "Hero";
  width: 104.4%;
  height: 102.4%;
  border-radius: 15px;
  background-image: linear-gradient(
    var(--rotate)
    , #24db04, #d8f902 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.hero-info{
  text-align: center;
  font-size: 2em;
  color: white;
}

