
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
  
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

ul{
    padding-left: 100px;
    padding-top: 25px;
    font-size: 25px;
}
header{
    width: 100%;
    height: 100px;
    background: url(./assets/background/dota2header.png);
    background-position: center;
    position: absolute;
    top: 0;

}
#myVideo1{

    background: url(./assets/background/fondogeneral.gif);
    background-size: cover;
    width: 100%;
    height: 100%;

}


